@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

body {
  line-height: 1;
  margin: 0px auto;
  box-sizing: border-box;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
