@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  line-height: 1;
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: Helvetica, Arial, sans-serif;
}

:is(
    .list > :not(:last-child).list-row,
    .list > :not(:last-child) .list-row
  )::after {
  border-bottom-width: 2px;
}

.dark
  :is(
    .list > :not(:last-child).list-row,
    .list > :not(:last-child) .list-row
  )::after {
  border-bottom-width: 1px;
  border-color: #c0bcbc;
  opacity: 40%;
}
