.header {
  margin-bottom: 1em;
}

.logo {
  /* color: #ffffff; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  order: 1;
}

.divider {
  background-color: #383838 !important;
  width: 1px !important;
  order: 4 !important;
  height: 2rem !important;
}
